.App{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 30px 16px;
}

.App .Calculator{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  padding: 20px;
  gap: 16px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  box-shadow: -4px -4px 15px 0px var(--shadow-light-color), 4px 4px 15px 0px var(--shadow-dark-color), inset -4px -4px 20px 0px var(--shadow-light-color);
}