:root {
    --main-bg-color: #F1F3F6;
    --shadow-light-color: rgba(255,255,255,1);
    --shadow-dark-color: rgba(219,225,238,1);
    --text-dark-color: #000000;
}

*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
    background-color: #F8F9FA;
}